<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Stacked Bar Chart</title>

  <!--D3 cdn-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.12.0/d3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
 <!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div id="bar"></div>


    <div class="row">
      <div class="col-xs-12  col-md-9">
        <div class="article">
          <h2>Background Information</h2>

          <img src="./Images/hdi.png" alt="HDI Chart">

          <hr>

          <p>Human Development Index (HDI) was created to emphasize that people and their capabilities should be the ultimate criteria for assessing the development of a country, not economic growth alone. HDI statistic composite index of life expectancy, education, and per capita income indicators.  A country scores a higher HDI when the lifespan is higher, the education level is higher, and the gross national income GNI (PPP) per capita is higher.   </p>


          <p>The index is based on the human development approach, developed by Amartya Sen, often framed in terms of whether people are able to "be" and "do" desirable things in life. Examples include—Being: well fed, sheltered, healthy; Doing: work, education, voting, participating in community life. The freedom of choice is central—someone choosing to be hungry (as during a religious fast) is quite different from someone who is hungry because they cannot afford to buy food, or because the country is in a famine.</p>

          <h3>Takeaways</h3>

          <h4>Top 3 Countries by Overall Alcohol Consumption</h4>
        <ol>
            <li>Denmark - 583 L Per Capita</li>
            <li>Switzerland - 565 L Per Capita</li>
            <li>Australia - 545  L Per Capita</li>
        </ol>

        <h4>Top 3 Consumers of Wine</h4>
        <ol>
            <li>Switzerland  - 280 L Per Capita</li>
            <li>Denmark - 278 L Per Capita</li>
            <li>Australia - 212  L Per Capita</li>
        </ol>


        <h4>Top 3 Consumers of Spirits</h4>

        <ol>
            <li>Finland  - 133 L Per Capita</li>
            <li>Canada - 122 L Per Capita</li>
            <li>Switzerland  - 100  L Per Capita</li>
        </ol>

        <h4>Top 3 Consumers of Beer</h4>

        <ol>
            <li>Finland  - 263 L Per Capita</li>
            <li>Australia - 261 L Per Capita</li>
            <li>Netherlands  - 251  L Per Capita</li>
        </ol>


        </div>
      </div>
    </div>

  <!-- <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script> -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/bar_logic.js') }}"></script>

</body>
</html>
